body {
    margin-top: 100px;
    background: linear-gradient(
        to right,
        #292929 0%,
        #141414 20%,
        #000000 50%,
        #141414 80%,
        #292929 100%
    );

    color: white;
    text-align: center;
}

.vexorid-main {
    width: 256px;
}
