.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 20px;
}

.center-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.members-button {
    color: white;
    text-decoration: none;

    font-family: "Inter", sans-serif;
    font-weight: 300;

    padding: 8px 14px;
    border-radius: 8px;

    transition: 0.2s ease;
}

.members-button:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

body {
    margin: 0px;
    margin-top: 0px;
    background: linear-gradient(
        to right,
        #141414 0%,
        #111111 25%,
        #000000 50%,
        #111111 75%,
        #141414 100%
    );

    color: white;
    text-align: center;
}

.lunara-pfp {
    margin-top: 70px;
    width: 256px;
}

.inter-main {
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    font-weight: 200;
    font-size: 70px;
}
