<article class="article-card">
    <a class="post-card" id="{{idAttr}}" href="{{href}}">
        <div class="card-top-row">
            <span class="card-number">#{{number}}</span>
            <span class="card-dot">·</span>
            <span class="card-date">{{date}}</span>
            {{{metaHtml}}}
        </div>
        <h2 class="card-title">{{title}}</h2>
        {{{descriptionHtml}}}
        {{{authorHtml}}}
        <div class="card-bottom-row">
            {{{bottomHtml}}}
        </div>
    </a>
</article>
